<!doctype html>
<html>
	<head>
		<title>Chat</title>
		 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel = "stylesheet" type = "text/css" href = "/css/style.css">
    	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    	<script type ="text/javascript" src="/js/chat.js"></script>
	</head>
	<body>
		<div class="rooms">
	      <form>
	          <input class="roomButton" data-room="room_one" type="submit" value="Room 1" />
	          <input class="roomButton" data-room="room_two" type="submit" value="Room 2" />
	          <input class="roomButton" data-room="room_three" type="submit" value="Room 3" />
	          <input class="roomButton" data-room="room_four" type="submit" value="Room 4" />
	          <input class="roomButton" data-room="room_five" type="submit" value="Room 5" />
	      </form>
	    </div>
	 	<div id = "user_name">
	 		<form id = "form">
              <input type="text" id="name" name="name" />
            </form>
	 	</div>
        <div id = "chat">
            <div id = "inner_chat">
               <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
               <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
               <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
            </div>
        </div>
        <div id = "texting">
            <form id = "form" >
               <textarea id = "message" name = "message"></textarea>
               <button id = 'sendButton'>Send</button>
               <button id = 'clearButton'>Clear</button>
            </form>
        </div>
	</body>
</html>