<!doctype html>
<html>
	<head>
		<title>Chat</title>
		 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel = "stylesheet" type = "text/css" href = "/css/style.css">
    	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    	<script type ="text/javascript" src="/js/chat.js"></script>
	</head>
	<body>
        <div id = "chat">
            <div id = "inner_chat">
            <% for ( let message in messages ) { %>
                <p><%= messages[message].name %> : <%= messages[message].message %></p>
            <% } %>
            </div>
        </div>
        <div id = "texting">
            <form id = "form" action = '/text' method = 'post'>
               <textarea id = 'message' name = 'message'></textarea>
               <button>Send</button>
            </form>
        </div>
	</body>
</html>