<!doctype html>
<html>
	<head>
		<title>Chat</title>
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel = "stylesheet" type = "text/css" href = "/css/style.css">
    	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    	<script type ="text/javascript" src="/js/welcome.js"></script>
	</head>
	<body>
        <form id = "form">
			<text id = "welcome">welcome</text>
			<a href="/signup">signup</a>
            <a href="/chat">chat</a>
        </form>
	</body>
</html>