<body>
    <video id="screen" autoplay></video>
    <button id="startBtn"> START </button>
    <button id="endBtn"> END </button>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/webrtc.js"></script>
</body>